@{
    ViewBag.Title = "LearnMore";
    Layout = "~/Views/Shared/BabySitterDefaultlayout.cshtml";
}

<div class="row">
    <div class="col-md-8    about">
        About this application
    </div>   
</div>
<div class="row">
    <div class="col-md-12 aboutdescrtn">
        <ul>
            <li>This is a simple web application where you can save all the records of the employers<br /> who had hired you from the beginning of your career.</li>
        </ul>

    </div>
</div>
    

